
header, nav, footer, div.middle, div.busy {
    max-width: 60rem;
    margin: auto;
}

















div.expect {
    grid-template-columns: 3fr 1fr;
}











div.about {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}










div.lower {
 
    grid-template-columns: 1fr 1fr 1fr;
   
    div:nth-child(3){
        grid-row: 1 / span 2;
        grid-column: 3;
    }

    div:nth-child(4){
        grid-column: 1 / span 2;
        grid-row: 2;
    }

}


