* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}

/* body */

body {
    padding: 0px;
    margin: 0px;
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
    background-color: $backColor;
}


/* header */

header {
    padding: .5rem $side;
    color: white;
}


header figure.logo {
    float: left;
    margin: 0;
}

header figure.logo img {
    padding: 1.1rem .1rem 0 0; 
    width: 115%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

header h1 {
    color: $primaryColor;
    margin: 1.8rem 0 0 0;
    padding-bottom: 0px;
    font-size: 1.9rem;
    font-weight: $heavyWeight;
    margin-left: 4.8rem;
}
header h2 {
    color: $textColor;
    font-size: 1.4rem;
    margin: 0 0 0 4.8rem;
    border-bottom: 1px solid $textColor;
    padding-bottom: 0px;
    
} 


/* navigation */

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    
    float: left;
    width: 33.3%;
    text-align: center;
    margin: .1rem 0 .3rem 0;

  
 
  } 

  nav ul li a {
    text-decoration: none;
    color: $textColor;
    font-size: .9rem;
 
  } 


/* main */
main {
    padding: 0px;
    margin: 0px;
    
}

picture#heroImage img {
    display: block;
    width: 98%;
    margin: 0 $side 10px $side;  
}


main h1 {
    margin: 2rem $side 0 $side;
    color: $primaryColor;
    font-weight: $regularWeight;
    
}

div#expectWrapper {
    background-color: $banColor;
}

div.expect div.best {
    text-align: center;
}

div.expect div.best ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.2rem;
}


div.expect div.formula {
    text-align: center;
}

div.expect div.formula p {
    margin: 0 0 4px $side;
}

div.expect div.formula h1 {
    margin: 15px 0 1.5rem $side;
}

div.expect div h2 {
    color: $subColor;
    margin-bottom: 10px;
}

div.expect div p#left {
    font-style: italic;
    font-size: $textSize;
    margin: 0 15px;
}



div.expect div h1 {
    color: $subColor;
    font-style: italic;
}


div.expect {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem $side 0 $side;
    background-color: $banColor;
    color: white;
}





div.about img {
    display: flex;
    width: 100%;
}

div.about h2 {
    color: $primaryColor;
    font-weight: $regularWeight;
    margin: .8rem 0 0 0;
}

div.about p {
    font-size: $textSize;
    color: $textColor;
    margin-top: .2rem;
    
}

div.about {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    margin: 0 $side;
    border-top: 1px solid $textColor;
    padding-top: 20px;
    background: linear-gradient(to top, $backColor 0%,  darken($backColor, 10%) 175%);
}


div.lower img {
    display: flex;
    width: 100%;
}


div.lower h2 {
    color: $primaryColor;
    font-weight: $regularWeight;
    margin: .8rem 0 0 0;
}

div.lower p {
    font-size: $textSize;
    color: $textColor;
    margin-top: .2rem;
    
}


div.lower {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    margin: $side;
    margin-bottom: 1rem;
    border-top: 1px solid $textColor;
    padding-top: 25px;
    background: linear-gradient(to top, $backColor 0%,  darken($backColor, 10%) 175%);

    /*div:nth-child(3){
        grid-row: 1 / span 2;
        grid-column: 3;
    }*/

    /*div:nth-child(4){
        grid-column: 1 / span 2;
        grid-row: 2;
    }*/

}



div.client img {
    display: flex;
    width: 100%;
}


div.client {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: white;
}






div#footerWrapper {
    background: linear-gradient(to top, $gradBottom 0%, $gradTop 100%);
    padding: 5px;
    
}

footer {
    font-size: 1rem;
    font-weight: $heavyWeight;
    color: white;
    padding-left: $side;
}


  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}






