$primaryColor: #0480b1;
$subColor: #fdd831;
$textColor: #a8a8b2;
$backColor: #f6f6f6;
$banColor: #111118;
$gradTop: #0480b1;
$gradBottom: #014064;


$fontFamily: 'Nunito', sans-serif;
$regularWeight: 400;
$heavyWeight: 700;

$side: 1%;

$gutter: 2%;